html
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/styles/custom.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') LamLee
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon 
            #navbarSupportedContent.collapse.navbar-collapse
                ul.navbar-nav.mr-auto
                    li.nav-item.active
                        a.nav-link(href='../') Home
                    li.nav-item.active
                        a.nav-link(href='/users') User
                    li.nav-item.active
                        a.nav-link(href='/products') Products
                    li.nav-item.active
                        a.nav-link(href='/cart') Cart
                    li.nav-item.active
                        a.nav-link(href='/transfer') Transfer
            if user
                p= user.name
        .container.pt-5
            block content
            